body, html
{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
}


.light-function
{
  color: white;
}

#root, #transaction_view, #action_view
{
  padding-top: 1em;
  height: calc(100% - 3em);
  margin-bottom: 2em;
  //background-color: lightcoral;
}

#payment_type_container
{
  width: 100%;
  overflow-y: auto;

  ol.payment_type
  {
    width: 100%;
    text-decoration: none;

    li
    {
      display: flex;
      margin-top: .25em;
      margin-bottom: 0;
      padding-top: .25em;
      padding-bottom: .25em;
      justify-content: space-between;

      span.name
      {
        padding-left: 1em;
        user-select: none;
      }

      span.totals
      {
        padding-right: 1em;
      }
    }

    ol.control_container
    {
      border: 3px solid #2780e3;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      padding: .25em .25em .25em .25em;

      li:nth-of-type(2n)
      {
        background-color: hsl(0, 0%, 86%);
      }
    }
  }
}

div.columns, div.columns:last-child, #department_controls_container div.columns
{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.level
{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

#transaction_controls.columns, #transaction_controls.columns .column
{
  margin-bottom: 0;
}

p.help.is-danger
{
  padding-left: 1em;
  font-size: 1rem;
}

tr.payment_type_end > td, tr.payment_type_end > th, .table tbody tr:last-child th
{
  border-bottom: 5px solid #dbdbdb;
}

/*fieldset div.check:nth-of-type(2n)
{
  background-color: hsl(0, 0%, 86%);
}*/

