body, html, #root
{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow-y: auto;
  overflow-x: auto;
}

.navbar-dropdown
{
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: inherit;
}
.navbar-dropdown > .navbar-item 
{
  padding: 0;
  width: inherit;
}

.esri-basemap-gallery__item-container
{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.esri-basemap-gallery__item-container > .esri-basemap-gallery__item
{
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-left: 0 !important;
  border-right: none !important;
}

.light-function
{
  color: white;
}

.webmap
{
  height: 100%;
}

.main-container
{
  height: calc(100% - 64px);
}

.left-side, .right-side
{
  height: 100%;
}

.left-side
{
  overflow-x: auto;
  overflow-y: auto;
}

.columns, .column 
{
  margin: 0;
  padding: 0;
}

.sort_ascending
{
  text-decoration: solid overline;  
}

.sort_descending
{
  text-decoration: solid underline;
}

.cursor_pointer
{
  cursor: pointer;
}

.cursor_normal
{
  cursor: auto;
}

button.level-item.no-decoration
{
  text-decoration: none;  
}

td.icon-options
{
  padding-right: 1em;
}

TD.icon-options span:not(:first-child)
{
  margin-left: .5em;
}